@media only screen and (max-width:1023px) {
    .pc02,
    .cont,
    .hf,
    .ly,
    .application,
    .msg,
    .news,
    .foot {
        display: none;
    }
    .header_title {
        height: 86px;
    }
    .header_title .header_right {
        width: 100%;
    }
    .header_title .header_left {
        display: none;
    }
    .header_swrap {
        display: flex;
    }
    .header_swrap .col-md-2 img {
        margin-top: 22px;
        margin-left: 13%;
        width: 50px;
    }
    .header_swrap .col-md-10,
    .header_swrap .col-md-2 {
        height: 86px;
    }
    .header_swrap .col-md-10 {
        width: 75%;
    }
    .header_phone {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 16px;
    }
    .head_p {
        margin-left: 10px;
        font-size: 12px;
        color: rgb(70, 90, 221);
    }
    .head_t {
        float: right;
        position: relative;
        top: -27px;
        font-size: 12px;
        color: rgb(70, 90, 221);
    }
    .navb {
        display: flex;
        height: 40px;
        background-color: rgb(70, 90, 221);
    }
    .navb .container {
        width: 100%;
        padding: 0;
    }
    .a_swrap {
        width: 14.2%;
        float: left;
        line-height: 40px;
        text-align: center;
    }
    .a_swrap a {
        display: inline-block;
        width: 100%;
        color: #ffffff;
        font-size: 10px;
    }
    .image_1 {
        width: 100%;
    }
    .web02 {
        width: 100%;
    }
    .serch {
        height: 92px;
        background-color: rgb(245, 245, 245);
    }
    .serch_swrap {
        width: 95%;
        margin-left: 5%;
    }
    .serch_left {
        position: relative;
        height: 43px;
    }
    .serch_left p,
    .serch_left div {
        float: left;
        font-size: 16px;
        vertical-align: middle;
    }
    .serch_left p {
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .serch_left div {
        margin-top: 8px;
        margin-right: 8px;
        margin-bottom: 7px;
    }
    .serch_left div a {
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 70px;
        line-height: 18px;
        border: 1px solid rgb(224, 224, 224);
        color: #777;
        text-decoration: none;
        vertical-align: middle;
        font-size: 14px;
    }
    .serch_right .input-group {
        display: inline;
    }
    .serch_right .input-group .form-control {
        position: relative;
        width: 75%;
        font-size: 12px;
        margin-bottom: 0;
    }
    .input-group button {
        width: 46px;
        height: 33px;
        background-color: rgb(70, 90, 221);
        border: 0;
    }
    .web_cont {
        margin-left: 5%;
        margin-top: 10px;
        margin-right: 5%;
        height: 360px;
    }
    .web_cont_title img {
        height: 50px;
    }
    .web_cont_title {
        margin-bottom: 20px;
    }
    .web_cont_more {
        float: right;
        width: 50%;
        text-align: end;
        margin-top: 10px;
    }
    .web_cont_span {
        float: right;
        margin-top: -10px;
        border-bottom: 2px solid #000;
        width: 55%;
    }
    .web_cont_img {
        width: 48%;
        max-width: 145px;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        border: 1px solid rgb(245, 245, 245);
    }
    .web_cont_img img {
        width: 100%;
        border: 1px solid rgb(225, 225, 225);
    }
    .web_cont_img div {
        text-align: center;
        color: #000000;
        font-size: 14px;
    }
    .web_cont_img div p {
        margin: 0;
    }
    .web_hf {
        height: 106px;
        width: 100%;
        background-color: rgb(49, 49, 49);
        margin: 10px 0;
    }
    .web_hf_zx {
        width: 40%;
        max-width: 140px;
        margin: 0 auto;
        height: 65px;
        text-align: center;
    }
    .web_hf_bg {
        position: relative;
        width: 100%;
        max-width: 120px;
        margin-top: 14px;
    }
    .web_hf_logo {
        position: relative;
        width: 20px;
        top: -27px;
    }
    .web_hf_zx a {
        display: inline-block;
        position: relative;
        top: -26px;
        color: rgb(70, 90, 221);
    }
    .web_hf_msg {
        width: 100%;
    }
    .web_hf_msg img {
        width: 100%;
    }
    .web_ly {
        margin-top: 20px;
    }
    .web_ly_img {
        width: 100%;
    }
    .web_ly_img img {
        width: 100%;
    }
    .web_ly_ig {
        width: 80%;
        margin: 0 auto;
    }
    .web_ly_ig img {
        margin-bottom: 30px;
        width: 100%;
    }
    .ly_wrap {
        display: flex;
        width: 90%;
        height: 40px;
        margin: 25px 5%;
    }
    .ly_wrap .ly_msg_left {
        height: 100%;
        color: #ffffff;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        width: 15%;
        background-color: rgb(70, 90, 221);
    }
    .ly_wrap .ly_msg_right {
        height: 100%;
        color: #ffffff;
        font-size: 14px;
        width: 85%;
        line-height: 40px;
        background-color: rgb(49, 49, 49);
    }
    .web_application .swiper-container {
        width: 80%;
        margin-top: 20px;
    }
    .web_application_img {
        width: 90%;
        margin-left: 5%;
    }
    .web_application_img img {
        width: 100%;
    }
    .web_application .swiper-container .swiper-button-prev,
    .web_application .swiper-container .swiper-button-next {
        top: 25%;
        color: #ffffff;
        background-color: rgb(70, 90, 221);
        width: 20px;
        height: 48px;
    }
    .swiper-container {
        --swiper-navigation-size: 20px;
        /* 设置按钮大小 */
    }
    .web_application .swiper-container .swiper-button-prev {
        float: left;
        left: 0;
    }
    .web_application .swiper-container .swiper-button-next {
        float: right;
        right: 0;
    }
    .swiper-slide p {
        text-align: center;
        color: #000000;
        font-size: 16px;
        margin: 10px 0;
    }
    .swiper-slide {
        text-align: center;
    }
    .swiper-slide img {
        width: 80%;
    }
    .web_msg {
        height: 600px;
        width: 100%;
        background: url("../image/web/17.png") no-repeat center;
        max-width: 550px;
        margin: 0 auto;
    }
    .msg_img {
        width: 60%;
        margin: 0 auto;
    }
    .msg_img img {
        width: 100%;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    .msg_content {
        width: 90%;
        margin: 0px auto;
    }
    .web_msg_span {
        position: relative;
        float: right;
        top: 37px;
        width: 51%;
        border-bottom: 2px solid #ffffff;
    }
    .msg_left_bottom {
        margin-top: 25px;
        height: 120px;
        float: left;
    }
    .msg_left_img {
        width: 40%;
    }
    .msg_left_img img {
        width: 100%;
    }
    .mag_left_msg {
        width: 55%;
        float: right;
        position: relative;
        top: -89px;
    }
    .mag_left_msg h2 {
        color: #ffffff;
        font-size: 18px;
        margin-top: 0;
    }
    .mag_left_msg p {
        color: #ffffff;
        font-size: 12px;
    }
    .msg_right_bottom {
        width: 100%;
        max-width: 400px;
        margin: 25px auto;
    }
    .web_news {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .black_span {
        border-bottom: 2px solid #000000;
        top: -20px;
    }
    .news_left_swrap {
        display: flex;
        width: 100%;
    }
    .web_news_img {
        width: 35%;
    }
    .web_news_img img {
        width: 100%;
        margin-top: 16px;
    }
    .web_news_title {
        width: 62%;
        float: right;
    }
    .web_news_title h3 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .web_news_title p {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .newslist {
        margin-top: 20px;
    }
    .news_msg {
        height: 30px;
        width: 100%;
        border-bottom: 1px dashed #666;
        margin-bottom: 20px;
    }
    .news_msg a {
        color: #000000;
    }
    .news_msg p {
        float: right;
        color: #666666;
    }
    .news_q_list {
        border-bottom: 1px solid #666666;
    }
    .news_top {
        margin-top: 10px;
        width: 90%;
        margin: 20px auto;
        display: flex;
    }
    .news_bottom {
        margin-top: 10px;
        width: 90%;
        margin: 20px auto;
        display: flex;
    }
    .news_wen {
        width: 21px;
    }
    .news_wen img {
        width: 100%;
    }
    .news_wen_msg {
        margin-left: 10px;
        font-size: 16px;
        line-height: 22px;
    }
    .news_wen_msg a {
        color: #000000;
    }
    .news_da {
        width: 35px;
    }
    .news_da img {
        width: 100%;
    }
    .web_foot {
        width: 100%;
        clear: both;
    }
    .web_foot_top {
        height: 560px;
        width: 100%;
        background-color: rgb(77, 77, 77);
    }
    .web_foot_bottom {
        height: 30px;
        width: 100%;
        background-color: rgb(55, 55, 55);
        text-align: center;
    }
    .web_foot_bottom p {
        font-size: 10px;
        color: #ffffff;
        line-height: 30px;
        margin-bottom: 0;
    }
    .web_foot_top_msg {
        margin: 0 auto;
        text-align: center;
    }
    .er,
    .liu,
    .foot_log {
        margin: 0 auto;
        width: 25%;
    }
    .er img,
    .foot_log {
        width: 100%;
        margin: 20px 0;
    }
    .er img {
        max-width: 80px;
    }
    .liu img {
        width: 100%;
        max-width: 80px;
    }
    .foot_log img {
        max-width: 40px;
    }
    .foot_lx {
        text-align: center;
    }
    .foot_lx_msg p {
        color: #ffffff;
    }
    .web_foot_msg {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    .web_foot_list {
        width: 33%;
        text-align: center;
    }
    .foot_msg_title {
        color: rgb(233, 233, 233);
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .foot_a a {
        color: rgb(162, 162, 162);
        font-size: 12px;
    }
    .foot_a {
        margin-bottom: 5px;
    }
}

@media screen and (max-width:1023px) {
    .web_cont_span {
        float: right;
        margin-top: -10px;
        border-bottom: 2px solid #000;
        width: 50%;
    }
    .web_cont {
        margin-left: 5%;
        margin-top: 10px;
        margin-right: 5%;
        height: 310px;
    }
    .web_msg_span {
        position: relative;
        float: right;
        top: 37px;
        width: 44%;
        border-bottom: 2px solid #ffffff;
    }
}